* {
  box-sizing: border-box;
}

:root {
  --primary-color: #3f51b5;
  --secondary-color: #5995ED;
  --tertiary-color: #FCFF4B;
  --quaternary-color: #FFAD05;

  --primary-light-color: #fff;
  --secondary-light-color: #f8f8f8;
  --tertiary-light-color: #dedede;

  --primary-dark-color: #d19417;

  --primary-gray-color: #808080;
}

body {
background-color: var(--secondary-light-color);
font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  color: var(--primary-color);
  text-align: center;
}

h2 {
  margin: 0;
  font-weight: 300;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
}

.currency-container {
  text-align: center;
}

.currency-container h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0 0 0;
}

.currency-container select {
  background: var(--primary-color);
  color: var(--primary-light-color);;
  font-size: 12px;
  border-style: none;
  cursor: pointer;
  margin: 40px 10px;
  padding: 5px 20px 5px 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.income-expenses-container {
  background-color: var(--primary-light-color);;
  padding: 20px;
  justify-content: space-between;
  margin: 15px 0;
}

.delete-btn {
  color: #e63946;
  cursor: pointer;
}

.list-item {
  background-color: var(--primary-light-color);;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  box-shadow: var(--primary-gray-color);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-left: 5px solid var(--tertiary-color);
}

.error-message {
  background-color: var(--primary-light-color);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  box-shadow: var(--primary-gray-color);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid var(--quaternary-color);
  display: none;
}

.full-width { 
  width: 100%;

}

.inputContainer {
  margin: 20px 0;
}

.centered {
  text-align: center;
}

/* Overwriting Material-UI styles */
.MuiFormControl-root {
  margin: 10px 0 0;
}